@charset "UTF-8";
/* リキッドレイアウト対応 */
body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.3333333333vw;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  padding: 0;
}

textarea {
  resize: vertical;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.space-topComments {
  margin-top: -56px;
  margin-top: -3.5rem;
  background-color: #3E3E3E;
}
@media screen and (min-width: 768px) {
  .space-topComments {
    margin-top: -8.4375rem;
    background: -webkit-gradient(linear, left top, right top, from(#3E3E3E), color-stop(76.6%, #3E3E3E), color-stop(76.6%, #F3F3F3), to(#F3F3F3));
    background: linear-gradient(90deg, #3E3E3E 0%, #3E3E3E 76.6%, #F3F3F3 76.6%, #F3F3F3 100%);
  }
}

.space-topContact {
  padding-top: 40px;
  padding-top: 2.5rem;
  padding-bottom: 40px;
  padding-bottom: 2.5rem;
  background-image: url(../images/common/contact-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .space-topContact {
    margin-top: 0;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
}

.space-topNews {
  margin-top: -39px;
  margin-top: -2.4375rem;
  background-color: #F3F3F3;
}
@media screen and (min-width: 768px) {
  .space-topNews {
    margin-top: 0;
  }
}

.access {
  padding-top: 40px;
  padding-top: 2.5rem;
  padding-bottom: 60px;
  padding-bottom: 3.75rem;
  background-color: #3E3E3E;
}
@media screen and (min-width: 768px) {
  .access {
    padding-top: 0;
    padding-bottom: 0;
    background: -webkit-gradient(linear, left top, right top, from(#3E3E3E), color-stop(76.6%, #3E3E3E), color-stop(76.6%, #F3F3F3), to(#F3F3F3));
    background: linear-gradient(90deg, #3E3E3E 0%, #3E3E3E 76.6%, #F3F3F3 76.6%, #F3F3F3 100%);
  }
}

@media screen and (min-width: 768px) {
  .access__inner.inner {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .access__inner {
    display: grid;
    grid-template-columns: minmax(6.25rem, auto) minmax(auto, 19.625rem) 6.25rem minmax(auto, 45.375rem) minmax(40px, auto);
    grid-template-rows: 7.5rem auto 3.75rem 4rem 2rem auto 8.5rem 7.5rem;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

@media screen and (min-width: 768px) {
  .access__section-header {
    grid-area: 2/2/3/3;
  }
}

.access__address {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.4285714286;
  color: #FFFFFF;
  margin-top: 39px;
  margin-top: 2.4375rem;
}
@media screen and (min-width: 768px) {
  .access__address {
    grid-area: 3/2/4/3;
    font-size: 1rem;
    margin-top: 3.75rem;
  }
}

.access__googlemap {
  aspect-ratio: 343/241;
  margin-top: 20px;
  margin-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .access__googlemap {
    aspect-ratio: 726/520;
    grid-area: 2/4/8/5;
    z-index: 100;
    margin-top: 0;
  }
}

.access__googlemap iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.access__btn {
  margin-top: 18px;
  margin-top: 1.125rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .access__btn {
    grid-area: 5/2/6/3;
    margin-top: 2rem;
    text-align: left;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .access__background {
    grid-area: 7/1/9/6;
    background-color: #F3F3F3;
    z-index: 99;
  }
}

.bw-btn {
  padding: 12px 97px;
  padding: 0.75rem 6.0625rem;
  display: inline-block;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3.6px;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  line-height: 1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media screen and (min-width: 768px) {
  .bw-btn {
    padding: 1.25rem 4.875rem;
    font-size: 1.25rem;
    letter-spacing: 4px;
  }
}

.bw-btn--results {
  padding-top: 14px;
  padding-top: 0.875rem;
  padding-bottom: 14px;
  padding-bottom: 0.875rem;
  line-height: 1.2777777778;
}

.bw-btn--access {
  letter-spacing: 2px;
}

.bw-btn:hover {
  color: #3E3E3E;
  background-color: #FFFFFF;
  border: 1px solid #3E3E3E;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.bw-btn--black {
  border: 1px solid #3E3E3E;
  color: #3E3E3E;
}

.bw-btn--black:hover {
  color: #FFFFFF;
  background-color: #3E3E3E;
  border: 1px solid #FFFFFF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.card__img {
  aspect-ratio: 274/171;
}
@media screen and (min-width: 768px) {
  .card__img {
    aspect-ratio: 400/250;
  }
}

.card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__body {
  padding: 12px 12px 11px 12px;
  padding: 0.75rem 0.75rem 0.6875rem 0.75rem;
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .card__body {
    padding: 1rem;
  }
}

.card__title {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.00001em;
  color: #3E3E3E;
}
@media screen and (min-width: 768px) {
  .card__title {
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: 0;
  }
}

.card__text {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.00001em;
  color: #3E3E3E;
  margin-top: 8px;
  margin-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .card__text {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 1rem;
  }
}

.comments-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comments-content__image {
  margin-top: 3px;
  margin-top: 0.1875rem;
  aspect-ratio: 60/60;
  width: 60px;
  width: 3.75rem;
  height: 60px;
  height: 3.75rem;
}
@media screen and (min-width: 768px) {
  .comments-content__image {
    width: 6.25rem;
    height: 6.25rem;
  }
}

.comments-content__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.comments-content__text {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.4285714286;
  color: #3E3E3E;
  margin-left: 20px;
  margin-left: 1.25rem;
}
@media screen and (min-width: 768px) {
  .comments-content__text {
    font-size: 1rem;
    margin-left: 2rem;
    line-height: 1.5;
  }
}

.comments {
  padding-bottom: 60px;
  padding-bottom: 3.75rem;
}
@media screen and (min-width: 768px) {
  .comments {
    padding-bottom: 7.5rem;
  }
}

.comments__inner.inner {
  padding-left: 0;
  padding-right: 0;
}

.comments__contents {
  padding: 0 16px;
  padding: 0 1rem;
  display: block;
  position: relative;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .comments__contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 2.5rem;
  }
}

.comments__content {
  padding: 34px 20px 38px 20px;
  padding: 2.125rem 1.25rem 2.375rem 1.25rem;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0px 10px black;
          box-shadow: 0 0px 10px black;
}
@media screen and (min-width: 768px) {
  .comments__content {
    padding: 7.5rem 3.75rem;
  }
}

.comments__items {
  margin-top: 37px;
  margin-top: 2.3125rem;
}
@media screen and (min-width: 768px) {
  .comments__items {
    margin-top: 3.75rem;
  }
}

.comments__item + .comments__item {
  margin-top: 34px;
  margin-top: 2.125rem;
}
@media screen and (min-width: 768px) {
  .comments__item + .comments__item {
    margin-top: 3.75rem;
  }
}

.comments__image {
  display: none;
}
@media screen and (min-width: 768px) {
  .comments__image {
    display: block;
    aspect-ratio: 534/444;
    width: 33.375rem;
    height: 27.75rem;
    margin: auto 0;
  }
}

@media screen and (min-width: 768px) {
  .comments__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.contact-message {
  text-align: center;
  padding-top: 60px;
  padding-top: 3.75rem;
  padding-bottom: 60px;
  padding-bottom: 3.75rem;
  display: none;
}

.contact-message--error {
  color: #FF4646;
}

@media screen and (min-width: 768px) {
  .contact__inner.inner {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

.contact__box {
  border-radius: 15px 15px 12px 12px;
  background-color: #FFFFFF;
}

.contact__head {
  margin: 0 auto;
  border-radius: 12px 12px 0 0;
  padding: 40px 16px;
  padding: 2.5rem 1rem;
  padding-bottom: 36px;
  padding-bottom: 2.25rem;
  background-image: url(../images/common/contact1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media screen and (max-width: 375px) {
  .contact__head {
    width: 21.4375rem;
    background-position: top center;
    background-size: contain;
  }
}
@media screen and (min-width: 768px) {
  .contact__head {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
}

.contact__section-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8px;
  margin-top: 0.5rem;
  color: #FFFFFF;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .contact__section-text {
    margin-top: 1rem;
  }
}

.contact__form {
  padding: 40px 12px;
  padding: 2.5rem 0.75rem;
}
@media screen and (min-width: 768px) {
  .contact__form {
    padding: 3.75rem 7.5rem;
  }
}

.contact__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  gap: 2rem;
}

.contact__privacy {
  margin-top: 31px;
  margin-top: 1.9375rem;
  line-height: 1;
}

.contact__btn {
  margin-top: 35px;
  margin-top: 2.1875rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contact__btn {
    margin-top: 2.5rem;
    text-align: left;
  }
}

.contact__message {
  padding-top: 60px;
  padding-top: 3.75rem;
  padding-bottom: 60px;
  padding-bottom: 3.75rem;
}

@media screen and (min-width: 768px) {
  .contactform-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3.75rem;
  }
}

@media screen and (min-width: 768px) {
  .contactform-field--sp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.5rem;
  }
}

.contactform-field__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  gap: 1.25rem;
}
@media screen and (min-width: 768px) {
  .contactform-field__head {
    width: 8rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.contactform-field__label {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  color: #3E3E3E;
}
@media screen and (min-width: 768px) {
  .contactform-field__label {
    max-width: 8rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.contactform-field__tag {
  background-color: #FF4646;
  border-radius: 2px;
  display: inline-block;
  padding: 2px 8px;
  padding: 0.125rem 0.5rem;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  color: #FFFFFF;
}

.contactform-field__item {
  margin-top: 16px;
  margin-top: 1rem;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .contactform-field__item {
    margin-top: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.contactform-field__item input::-webkit-input-placeholder {
  opacity: 0.5;
}

.contactform-field__item input::-moz-placeholder {
  opacity: 0.5;
}

.contactform-field__item input::-ms-input-placeholder {
  opacity: 0.5;
}

.contactform-field__item input::placeholder {
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .contactform-field__item--sp {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    max-width: 11.125rem;
    width: 100%;
  }
}

.contactform-field__radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  gap: 2.5rem;
}

.footer {
  padding-top: 60px;
  padding-top: 3.75rem;
  padding-bottom: 57px;
  padding-bottom: 3.5625rem;
  background-color: #3E3E3E;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 3.75rem;
  }
}

@media screen and (min-width: 768px) {
  .footer__inner.inner {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media screen and (min-width: 768px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__contents {
  text-align: center;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 50px;
  gap: 3.125rem;
}
@media screen and (min-width: 768px) {
  .footer__icons {
    margin-top: 0;
    gap: 2rem;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    text-align: left;
  }
}

.footer__icon span svg {
  fill: #F3F3F3;
  opacity: 0.6;
}

.footer__icon--twiter {
  width: 36px;
  width: 2.25rem;
  height: 36px;
  height: 2.25rem;
}

.footer__icon--facebook {
  width: 36px;
  width: 2.25rem;
  height: 36px;
  height: 2.25rem;
}

.footer__items {
  color: #FFFFFF;
  margin-top: 44px;
  margin-top: 2.75rem;
}
@media screen and (min-width: 768px) {
  .footer__items {
    margin-top: 2.5rem;
  }
}

.footer__item {
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.035em;
}
@media screen and (min-width: 768px) {
  .footer__item {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer__item a {
    font-size: 1rem;
    letter-spacing: 0.0004em;
  }
}

.footer__item:not(:first-child) {
  padding-top: 26px;
  padding-top: 1.625rem;
}
@media screen and (min-width: 768px) {
  .footer__item:not(:first-child) {
    padding-top: 1.5rem;
  }
}

.footer__title {
  text-align: center;
  margin-top: 44px;
  margin-top: 2.75rem;
}
@media screen and (min-width: 768px) {
  .footer__title {
    margin-top: 0;
    text-align: right;
  }
}

.footer__logo {
  color: #E3E3E3;
  font-size: 32px;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    font-size: 2.5rem;
  }
}

.footer__copyright {
  margin-top: 12px;
  margin-top: 0.75rem;
  color: #FFFFFF;
  opacity: 0.6;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.023em;
}

.footer__copyright small {
  font-size: 12px;
  font-size: 0.75rem;
}

.form-checkbox__input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.form-checkbox__text {
  position: relative;
  padding-left: 38px;
  padding-left: 2.375rem;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .form-checkbox__text {
    font-size: 1.125rem;
    padding-left: 2.5rem;
  }
}

.form-checkbox__text::before,
.form-checkbox__text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-checkbox__text::before {
  width: 18px;
  width: 1.125rem;
  height: 18px;
  height: 1.125rem;
  border: 1px solid #707070;
}
@media screen and (min-width: 768px) {
  .form-checkbox__text::before {
    width: 1.125rem;
    height: 1.125rem;
  }
}

.form-checkbox__input:checked + .form-checkbox__text::after {
  top: 6px;
  top: 0.375rem;
  left: 1.5px;
  left: 0.09375rem;
  display: block;
  width: 15px;
  width: 0.9375rem;
  height: 7px;
  height: 0.4375rem;
  border-left: 2px solid #3B69FF;
  border-bottom: 2px solid #3B69FF;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.form-checkbox__input:focus + .form-checkbox__text::before {
  outline: none;
  border: 1px solid #4973FF;
  -webkit-box-shadow: 0 0 8px #4973ff;
          box-shadow: 0 0 8px #4973ff;
}

.form-email {
  width: 100%;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  border-bottom: 1px solid rgba(62, 62, 62, .5);
  background-clip: padding-box;
  line-height: 1;
  max-height: 19px;
  max-height: 1.1875rem;
}

.form-email:hover {
  border-bottom: 1px solid #4973FF;
  -webkit-box-shadow: 0 5px 4px -4px #4973ff;
          box-shadow: 0 5px 4px -4px #4973ff;
}

.form-email:focus {
  outline: none;
  border-bottom: 1px solid #4973FF;
  -webkit-box-shadow: 0 5px 4px -4px #4973ff;
          box-shadow: 0 5px 4px -4px #4973ff;
}

.form-radio {
  line-height: 1;
}

.form-radio__input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.form-radio__input:checked + .form-radio__text::after {
  opacity: 1;
}

.form-radio__input:focus + .form-radio__text::before {
  outline: none;
  border: 1px solid #3B69FF;
  -webkit-box-shadow: 0 5px 4px -4px #4973ff;
          box-shadow: 0 5px 4px -4px #4973ff;
}

.form-radio__text {
  position: relative;
  font-size: 16px;
  font-size: 1rem;
  color: #3E3E3E;
  font-weight: 500;
  padding-left: 20px;
  padding-left: 1.25rem;
}

.form-radio__text::before,
.form-radio__text::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
}

.form-radio__text::before {
  width: 12px;
  width: 0.75rem;
  height: 12px;
  height: 0.75rem;
  border: 1px solid #707070;
  left: 0;
}

.form-radio__text:hover::before {
  border: 1px solid #3B69FF;
  -webkit-box-shadow: 0 0 6px #4973ff;
          box-shadow: 0 0 6px #4973ff;
}

.form-radio__text::after {
  width: 6px;
  width: 0.375rem;
  height: 6px;
  height: 0.375rem;
  background-color: #3B69FF;
  left: 3px;
  left: 0.1875rem;
  opacity: 0;
}

.form-select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 14px;
  font-size: 0.875rem;
  color: #3E3E3E;
  width: 100%;
  border: 1px solid #707070;
  background-color: #FFFFFF;
  font-weight: 500;
  line-height: 1;
  padding: 11px;
  padding: 0.6875rem;
  background-image: url(../images/common/select-arrow.png);
  background-repeat: no-repeat;
  background-position: center right 12px;
  background-position: center right 0.75rem;
  background-size: 1rem 0.875rem;
}
@media screen and (min-width: 768px) {
  .form-select {
    font-size: 1rem;
  }
}

.form-select:hover {
  -webkit-box-shadow: 0 0 5px #4973ff;
          box-shadow: 0 0 5px #4973ff;
}

.form-select:focus {
  outline: none;
  -webkit-box-shadow: 0 0 8px #4973ff;
          box-shadow: 0 0 8px #4973ff;
}

.form-text {
  width: 100%;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  border-bottom: 1px solid rgba(62, 62, 62, .5);
  background-clip: padding-box;
  line-height: 1;
  max-height: 19px;
  max-height: 1.1875rem;
}

.form-text:hover {
  border-bottom: 1px solid #4973FF;
  -webkit-box-shadow: 0 5px 4px -4px #4973ff;
          box-shadow: 0 5px 4px -4px #4973ff;
}

.form-text:focus {
  outline: none;
  border-bottom: 1px solid #4973FF;
  -webkit-box-shadow: 0 5px 4px -4px #4973ff;
          box-shadow: 0 5px 4px -4px #4973ff;
}

.form-textarea {
  font: inherit;
  color: inherit;
  border: 1px solid #707070;
  background-color: #FFFFFF;
  width: 100%;
  height: 160px;
  height: 10rem;
}

.form-textarea:hover {
  border: 1px solid #4973FF;
  -webkit-box-shadow: 0 0 8px #4973ff;
          box-shadow: 0 0 8px #4973ff;
}

.form-textarea:focus {
  outline: none;
  border: 1px solid #4973FF;
  -webkit-box-shadow: 0 0 8px #4973ff;
          box-shadow: 0 0 8px #4973ff;
}

.hamburger {
  position: fixed;
  background-image: url(../images/common/hamburger.png);
  background-repeat: no-repeat;
  background-position: center right 31px;
  background-position: center right 1.9375rem;
  background-size: contain;
  width: 100%;
  height: 20px;
  height: 1.25rem;
  z-index: 1000;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}
@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.hamburger.is-active {
  display: none;
}

.cross.is-active {
  position: fixed;
  position: absolute;
  background-image: url(../../images/common/batsu.png);
  background-repeat: no-repeat;
  background-position: center right 31px;
  background-position: center right 1.9375rem;
  background-size: contain;
  width: 100%;
  height: 20px;
  height: 1.25rem;
  z-index: 1000;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.cross.is-active {
  -webkit-transform: translateX(-19.75rem);
          transform: translateX(-19.75rem);
}

.header {
  height: 68px;
  height: 4.25rem;
  background-color: #FFFFFF;
  z-index: 1000;
  position: fixed;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header {
    background-color: rgba(255, 255, 255, .1019607843);
    height: 5.1875rem;
  }
}

.header__inner {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .header__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__logo {
  font-size: 23px;
  font-size: 1.4375rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #3E3E3E;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .header__logo {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__drawer {
    display: none;
  }
}

.header__pc-nav {
  height: inherit;
  display: none;
}
@media screen and (min-width: 768px) {
  .header__pc-nav {
    display: block;
  }
}

.inner {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1280px;
    padding-right: 40px;
    padding-left: 40px;
  }
}

.mv {
  position: relative;
  z-index: 99;
}

.mv__img {
  padding-top: 177.8666666667%;
  background-image: url(../images/common/mv.png);
  background-repeat: no-repeat;
  background-position: 22% center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .mv__img {
    padding-top: 50.625%;
    background-position: center center;
  }
}

.mv__header {
  padding: 0 16px;
  padding: 0 1rem;
  position: absolute;
  top: 49.3%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-49.3%);
          transform: translateY(-49.3%);
  text-align: center;
  color: #3E3E3E;
}
@media screen and (min-width: 768px) {
  .mv__header {
    top: 60%;
    left: 50%;
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
    padding-left: 0;
    padding-right: 0;
  }
}

.mv__title {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .mv__title {
    display: block;
  }
}

.mv__maintitle {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.6666666667;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .mv__maintitle {
    font-size: 2rem;
    line-height: 1.5;
    letter-spacing: 0.00002em;
  }
}

.mv__subtitle {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.4285714286;
  margin-top: 19px;
  margin-top: 1.1875rem;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .mv__subtitle {
    font-size: 1.125rem;
    line-height: 1.5555555556;
    letter-spacing: 0.45px;
    margin-top: 1.75rem;
    padding-right: 2.5rem;
  }
}

.mv__btn {
  margin-top: 27px;
  margin-top: 1.6875rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .mv__btn {
    font-size: 2.5rem;
    text-align: left;
    margin-top: 1.75rem;
  }
}

.news-content {
  padding: 14px 55px 11px 16px;
  padding: 0.875rem 3.4375rem 0.6875rem 1rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .news-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2.5rem;
    padding: 2.5rem 5.1875rem 2.5rem 0;
  }
}

.news-content::after {
  content: "";
  position: absolute;
  right: 16px;
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 10.75px;
  width: 0.671875rem;
  height: 21.5px;
  height: 1.34375rem;
  background: transparent url(../images/common/news-arrow.png) no-repeat center center/contain;
}

.news-content__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  gap: 1.5rem;
}
@media screen and (min-width: 768px) {
  .news-content__meta {
    gap: 2.5rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.news-content__date,
.news-content__category {
  color: #3E3E3E;
  display: inline-block;
}

.news-content__date {
  font-size: 14px;
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4285714286;
  letter-spacing: 0.35px;
}
@media screen and (min-width: 768px) {
  .news-content__date {
    font-size: 1.125rem;
    line-height: 1.4444444444;
    letter-spacing: 0.45px;
  }
}

.news-content__category {
  font-size: 12px;
  font-size: 0.75rem;
  letter-spacing: 0.3px;
  border-radius: 50px;
  line-height: 1;
  border: 2px solid #3B69FF;
  padding: 2px 14px;
  padding: 0.125rem 0.875rem;
  font-weight: 500;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #3E3E3E;
}
@media screen and (min-width: 768px) {
  .news-content__category {
    font-size: 0.875rem;
    letter-spacing: 0.35px;
    padding: 0.375rem 1.875rem;
  }
}

.news-content__link {
  margin-top: 8px;
  margin-top: 0.5rem;
  line-height: 1.25;
}
@media screen and (min-width: 768px) {
  .news-content__link {
    margin-top: 0rem;
    line-height: 1.5555555556;
    max-width: 43.625rem;
    width: 100%;
  }
}

.news-content__text {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  color: #3E3E3E;
}
@media screen and (min-width: 768px) {
  .news-content__text {
    font-size: 1.125rem;
    letter-spacing: 0.45px;
  }
}

.news {
  position: relative;
  padding: 0 16px 60px 16px;
  padding: 0 1rem 3.75rem 1rem;
}
@media screen and (min-width: 768px) {
  .news {
    padding: 7.5rem 2.5rem;
  }
}

.news__inner {
  z-index: 100;
  padding-top: 40px;
  padding-top: 2.5rem;
  padding-bottom: 40px;
  padding-bottom: 2.5rem;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 5px 12px #3e3e3e;
          box-shadow: 0 5px 12px #3e3e3e;
  position: relative;
}
@media screen and (min-width: 768px) {
  .news__inner {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    padding-top: 3.75rem;
  }
}

.news__items {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .news__items {
    margin-top: 3.75rem;
  }
}

.news__item {
  border-bottom: 1px solid #CECDCD;
}

.news__item:hover {
  background-color: rgba(73, 115, 255, .1019607843);
}

.news__item:first-child {
  border-top: 1px solid #CECDCD;
}

.news__btn {
  text-align: center;
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .news__btn {
    margin-top: 2.4375rem;
  }
}

.orange-btn {
  padding: 16px 32px;
  padding: 1rem 2rem;
  background-color: #FFAA3B;
  display: inline-block;
  line-height: 1;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 10px;
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-shadow: 0 3px 5px #3e3e3e;
          box-shadow: 0 3px 5px #3e3e3e;
}
@media screen and (min-width: 768px) {
  .orange-btn {
    font-size: 1.125rem;
    letter-spacing: 0.45px;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
  }
}

.orange-btn:hover {
  background-color: #F18900;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.orange-btn--contact {
  letter-spacing: 0.4px;
  padding: 16px 50px;
  padding: 1rem 3.125rem;
  background-color: #B2B2B2;
  pointer-events: none;
}

.orange-btn--contact--active {
  background-color: #FFAA3B;
  pointer-events: auto;
}

.pc-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  gap: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: inherit;
}

.pc-nav__item,
.pc-nav__item a {
  height: inherit;
}

.pc-nav__item a {
  text-decoration: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3E3E3E;
  font-size: 16px;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.025em;
  font-weight: 500;
  line-height: 1;
}

.pc-nav__item a::after {
  content: "";
  position: absolute;
  bottom: 23px;
  bottom: 1.4375rem;
  left: -4px;
  left: -0.25rem;
  width: calc(100% + 0.625rem);
  height: 1px;
  height: 0.0625rem;
  background: transparent;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.pc-nav__item a:hover::after {
  background: #3E3E3E;
}

.price-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #707070;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .price-content {
    font-size: 1.5rem;
  }
}

.price-content__title,
.price-content__yen {
  padding-top: 15px;
  padding-top: 0.9375rem;
  padding-bottom: 15px;
  padding-bottom: 0.9375rem;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.price-content__title {
  color: #FFFFFF;
  background-color: #3E3E3E;
  font-weight: 600;
  width: 29.154519%;
  text-align: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .price-content__title {
    width: 27.291667%;
  }
}

.price-content__yen {
  color: #3E3E3E;
  background-color: #FFFFFF;
  padding-left: 19px;
  padding-left: 1.1875rem;
  width: 70.845481%;
  -ms-flex-wrap: 1;
      flex-wrap: 1;
}
@media screen and (min-width: 768px) {
  .price-content__yen {
    width: 72.708333%;
  }
}

.price {
  background-color: #F3F3F3;
  padding-top: 40px;
  padding-top: 2.5rem;
  padding-bottom: 121px;
  padding-bottom: 7.5625rem;
  position: relative;
  z-index: 99;
}
@media screen and (min-width: 768px) {
  .price {
    padding-top: 7.5rem;
    padding-bottom: 16.75rem;
  }
}

@media screen and (min-width: 768px) {
  .price__inner.inner {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

.price__items {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .price__items {
    margin-top: 3.75rem;
  }
}

.price__item:not(:first-child) {
  border-top: 0;
}

.price__note {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1;
  color: #3E3E3E;
  margin-top: 9px;
  margin-top: 0.5625rem;
}
@media screen and (min-width: 768px) {
  .price__note {
    margin-top: 0.75rem;
  }
}

.qa-content {
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 16px;
  padding: 1rem;
}

.qa-content__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.qa-content__question::after {
  content: "";
  position: absolute;
  right: 1px;
  right: 0.0625rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 15px;
  height: 15px;
  background: transparent url(../images/common/plus.png) no-repeat center center/contain;
}

.qa-content__question.is-open {
  position: relative;
}

.qa-content__question.is-open::after {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: transparent url(../images/common/minus.png) no-repeat center center/contain;
  width: 15px;
  height: 15px;
}

.qa-content__icon {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #3B69FF;
  border-radius: 50%;
  width: 24px;
  width: 1.5rem;
  height: 24px;
  height: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.qa-content__title {
  position: relative;
  margin-left: 16px;
  margin-left: 1rem;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.45;
  letter-spacing: 0.4px;
  padding-right: 37px;
  padding-right: 2.3125rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .qa-content__title {
    line-height: 1.5;
  }
}

.qa-content__answer {
  display: none;
}

.qa-content__text {
  padding: 11px 16px 7px 12px;
  padding: 0.6875rem 1rem 0.4375rem 0.75rem;
  background-color: rgba(59, 105, 255, .2);
  border-radius: 4px;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  color: #3E3E3E;
  line-height: 1.4285714286;
  margin-top: 14px;
  margin-top: 0.875rem;
}
@media screen and (min-width: 768px) {
  .qa-content__text {
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5;
  }
}

.qa {
  background-image: url(../images/common/qa-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 41px;
  padding-top: 2.5625rem;
  padding-bottom: 60px;
  padding-bottom: 3.75rem;
}

.qa__items {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .qa__items {
    margin-top: 3.75rem;
  }
}

@media screen and (min-width: 768px) {
  .qa__item {
    position: relative;
    max-width: 38.25rem;
    left: 49%;
  }
}

.qa__item:not(:first-child) {
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .qa__item:not(:first-child) {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .results {
    background-color: #F3F3F3;
    padding-left: 2.5rem;
  }
}

.results__inner.inner {
  padding: 40px 0;
  padding: 2.5rem 0;
  background-color: #3E3E3E;
}
@media screen and (min-width: 768px) {
  .results__inner.inner {
    padding: 3.75rem 0 3.75rem 3.75rem;
  }
}

.results__items {
  margin-top: 40px;
  margin-top: 2.5rem;
  padding-left: 16px;
  padding-left: 1rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .results__items {
    margin-top: 3.75rem;
  }
}

.results__btn {
  text-align: center;
  margin-top: 68px;
  margin-top: 4.25rem;
}
@media screen and (min-width: 768px) {
  .results__btn {
    text-align: left;
    margin-top: 6.25rem;
  }
}

.section-header {
  text-align: center;
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 600;
  color: #3E3E3E;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2333333333;
}
@media screen and (min-width: 768px) {
  .section-header {
    font-size: 2.25rem;
    line-height: 1.2222222222;
  }
}

.section-header--white {
  color: #FFFFFF;
}

.section-header--left {
  text-align: left;
}

@media screen and (min-width: 768px) {
  .section-header--pc {
    text-align: left;
  }
}

.service-content {
  text-align: center;
}

.service-content__image {
  width: 64px;
  width: 4rem;
  height: 64px;
  height: 4rem;
  display: inline-block;
  padding: 16px 7px;
  padding: 1rem 0.4375rem;
}

.service-content__image--design {
  width: 64px;
  width: 4rem;
  height: 64px;
  height: 4rem;
  display: inline-block;
  padding: 10px 7px;
  padding: 0.625rem 0.4375rem;
}

.service-content__image img {
  width: 100%;
  height: 100%;
}

.service-content__title {
  margin-top: 1px;
  margin-top: 0.0625rem;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 4px;
  text-align: center;
  line-height: 1.2;
  color: #3E3E3E;
}
@media screen and (min-width: 768px) {
  .service-content__title {
    line-height: 1.4;
  }
}

.service-content__text {
  margin-top: 16px;
  margin-top: 1rem;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.7142857143;
  color: #3E3E3E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .service-content__text {
    margin-top: 0.875rem;
  }
}

.service {
  padding-top: 40px;
  padding-top: 2.5rem;
  padding-bottom: 59px;
  padding-bottom: 3.6875rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#3E3E3E), color-stop(55%, #3E3E3E), color-stop(55%, #F3F3F3), to(#F3F3F3));
  background: linear-gradient(180deg, #3E3E3E 0%, #3E3E3E 55%, #F3F3F3 55%, #F3F3F3 100%);
}
@media screen and (min-width: 768px) {
  .service {
    padding-top: 3.75rem;
    padding-bottom: 7.5rem;
    background: -webkit-gradient(linear, left top, left bottom, from(#3E3E3E), color-stop(65%, #3E3E3E), color-stop(65%, #F3F3F3), to(#F3F3F3));
    background: linear-gradient(180deg, #3E3E3E 0%, #3E3E3E 65%, #F3F3F3 65%, #F3F3F3 100%);
  }
}

@media screen and (min-width: 768px) {
  .service__inner.inner {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

.service__items {
  padding-top: 40px;
  padding-top: 2.5rem;
  padding-bottom: 35px;
  padding-bottom: 2.1875rem;
  margin-top: 41px;
  margin-top: 2.5625rem;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 5px 12px #3e3e3e;
          box-shadow: 0 5px 12px #3e3e3e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 33px;
  gap: 2.0625rem;
}
@media screen and (min-width: 768px) {
  .service__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 5.625rem;
    padding: 3.75rem 2.8125rem 3.625rem 2.8125rem;
    margin-top: 3.75rem;
  }
}

.service__item {
  padding-left: 16px;
  padding-left: 1rem;
  padding-right: 16px;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .service__item {
    padding: 0;
  }
}

.service__item:first-child {
  padding-top: 0;
}

.service__item:last-child {
  padding-bottom: 0;
}

.sp-nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  width: 18.75rem;
  max-width: 100%;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  height: 100vh;
  background-color: #FFFFFF;
  z-index: 999;
}

.sp-nav.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.sp-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 160px 0;
  padding: 10rem 0;
  min-height: 100vh;
}

.sp-nav__item {
  width: 100%;
}

.sp-nav__item a {
  color: #3E3E3E;
  text-align: center;
  display: block;
  padding: 16px 0;
  padding: 1rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1;
}

.sp-nav__background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #3E3E3E;
  opacity: 0.7;
  z-index: 998;
}

.sp-nav__background.is-active {
  display: block;
}

.space {
  margin-top: 20px;
  margin-top: 1.25rem;
}

.page-top {
  position: fixed;
  width: 50px;
  width: 3.125rem;
  height: 50px;
  height: 3.125rem;
  right: 16px;
  right: 1rem;
  bottom: 13px;
  bottom: 0.8125rem;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media screen and (min-width: 768px) {
  .page-top {
    right: 2.5rem;
    bottom: 2.5rem;
  }
}

.page-top.is-show {
  opacity: 1;
  visibility: visible;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: -45.5px;
  bottom: -2.84375rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -3.75rem;
    text-align: left;
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  opacity: 1;
  background-color: #FFFFFF;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:nth-child(n+2) {
  margin-left: 20px;
  margin-left: 1.25rem;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
}

.swiper-pagination-bullet {
  width: 12px;
  width: 0.75rem;
  height: 12px;
  height: 0.75rem;
  position: relative;
}

.swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  width: 20px;
  width: 1.25rem;
  height: 20px;
  height: 1.25rem;
  top: -4px;
  top: -0.25rem;
  left: -4px;
  left: -0.25rem;
  right: 0;
}
/*# sourceMappingURL=styles.css.map */
