@use 'global' as *;

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: rem(-50);
  // width: rem(176);
  // height: rem(20);
  text-align: center;
  @include mq('md') {
    bottom: rem(-60);
    text-align: left;
  }
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  //margin: rem(10);
  opacity: 1;
  background-color: $white;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:nth-child(n + 2) {
  margin-left: rem(20);
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
}

.swiper-pagination-bullet {
  width: rem(12);
  height: rem(12);
  position: relative;
  
}

.swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  border: 1px solid $white;
  border-radius: 10px;
  width: rem(20);
  height: rem(20);
  top: rem(-4);
  left: rem(-4);
  right: 0;
}
