@use 'global' as *;

.btn {
  padding: rem(16) rem(32);
  background-color: #FFAA3B;
  display: inline-block;
  line-height: 1;
  font-size: rem(16);
  font-weight: $bold;
  border-radius: 10px;
  color: $white;
}