@use 'global' as *;

.bw-btn {
  padding: rem(16) rem(100);
  //background-color:  transparent; 
  display: inline-block;
  line-height: 1;
  font-size: rem(18);
  font-weight: $semibold;
  font-family: $english-family;
  letter-spacing: 3.6px;
  border: 1px solid $white;
  color: $white;
  transition: all 0.3s ease 0s;
  @include mq('md') {
    padding: rem(20) rem(80);
    font-size: rem(20);
    letter-spacing: 1.8px;
  }
}

.bw-btn:hover {
  color: $black;
  background-color: $white;
  border: 1px solid $black;
  transition: all 0.3s ease 0s;
}


.bw-btn--black {
  border: 1px solid $black;
  color: $black;
}

.bw-btn--black:hover {
  color: $white;
  background-color: $black;
  border: 1px solid $white;
  transition: all 0.3s ease 0s;
}