@use 'global' as *;

.bw-btn {
  padding: calc(rem(16) - rem(4)) calc(rem(100) - rem(3));
  //background-color:  transparent; 
  display: inline-block;
  font-size: rem(18);
  font-weight: $semibold;
  font-family: $english-family;
  letter-spacing: 3.6px;
  border: 1px solid $white;
  color: $white;
  line-height: 1;
  transition: all 0.3s ease 0s;
  @include mq('md') {
    padding: rem(20) calc(rem(80) - rem(2));
    font-size: rem(20);
    //line-height: calc(22.5 / 20);
    letter-spacing: 4px;
  }
}

.bw-btn--results {
  padding-top: rem(14);
  padding-bottom: rem(14);
  line-height: calc(23 / 18);
}

.bw-btn--access {
  letter-spacing: 2px;
}

.bw-btn:hover {
  color: $black;
  background-color: $white;
  border: 1px solid $black;
  transition: all 0.3s ease 0s;
}


.bw-btn--black {
  border: 1px solid $black;
  color: $black;
}

.bw-btn--black:hover {
  color: $white;
  background-color: $black;
  border: 1px solid $white;
  transition: all 0.3s ease 0s;
}