@use 'global' as *;
.comments {
  //z-index: 98;
  position: relative;
  padding: 0 rem(16) rem(60) rem(16);
  //background-color: $gray;
  @include mq('md') {
    padding: 0;
  }
}

.comments__inner {
  z-index: 100;
  margin-top: rem(-60);
  position: relative;
  // @include mq('md') {
  //   display: flex;
  //   justify-content: center;
  // }
}

.comments__inner.inner {
  padding-left: rem(20);
  padding-right: rem(20);
  @include mq('md') {
    padding-left: rem(40);
    padding-right: rem(40);
  }
}

.comments__contents {
  display: block;
  @include mq('md') {
    display: flex;
  }
}

.comments__content {
  padding: rem(40) 0;
  background-color: $white;
  box-shadow: 0 0px 10px rgba(#00000029, 1);
  @include mq('md') {
    padding: rem(120) rem(60);
  }
}

.comments__items {
  margin-top: rem(40);
  @include mq('md') {
    margin-top: rem(60);
  }
}

.comments__item {
  
}

.comments__item + .comments__item {
  margin-top: rem(40);
  @include mq('md') {
    padding-top: rem(15);
  }
}

.comments__image {
  display: none;
  @include mq('md') {
    display: block;
    //padding: rem(80) 0;
    aspect-ratio: 534 / 444; // 横 / 高さ
    width: rem(534);
    height: rem(444);
  }
}

.comments__image img {
  @include mq('md') {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}