@use 'global' as *;

.contactform-field {

}

.contactform-field__head {
  display: flex;
  align-items: center;
  gap: rem(20);
}

.contactform-field__label {
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1;
  color: $black;
  
}

.contactform-field__tag {
  background-color: $red;
  border-radius: 2px;
  display: inline-block;
  padding: rem(2) rem(8);
  font-size: rem(12);
  font-weight: $bold;
  line-height: 1;
  color: $white;
}

.contactform-field__item {
  margin-top: rem(16);
  [type="text"],
  [type="email"] {
    padding-bottom: rem(5);
    width: 100%;
    font-size: rem(14);
    font-weight: $medium;
    border-bottom: 1px solid $black;
    opacity: 0.5;
  }
}

.contactform-field__radios {
  display: flex;
  //flex-direction: column;
  gap: rem(40);
}

.contactform-field__radio {

}
