@use 'global' as *;

.contact{
  
}

.contact__inner{
  
}

.contact__inner.inner{
  @include mq('md') {
    padding-left: rem(160);
    padding-right: rem(160);
  }  
}

.contact__box {
  border-radius: 15px 15px 12px 12px;
  background-color: $white;
}

.contact__head{
  margin: 0 auto;
  border-radius: 12px 12px 0 0;
  padding: rem(40) rem(16);
  padding-bottom: rem(36);
  background-image: url(../images/common/contact1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
    
  @include mq('mi') {
    width: rem(343);
    background-position: top center;
    background-size: contain;
  }
  //text-align: center;
  
  @include mq('md') {
    padding-top: rem(60);
    padding-bottom: rem(60);
  }
}

// .contact__section-header {
//   line-height: calc(30 / 22.5);
// }

.contact__section-text {
  display: flex;
  justify-content: center;
  margin-top: rem(8);
  color: $white;
  font-size: rem(14);
  font-weight: $medium;
  @include mq('md') {
    margin-top: rem(16);
    font-size: rem(16);
    line-height: 1;
  }
}

.contact__form{
  padding: rem(40) rem(12);
  @include mq('md') {
    padding: rem(61) rem(120) rem(60);
  }
}

.contact__fields {
  display: flex;
  flex-direction: column;
  gap: rem(32);
}

.contact__field {
  
}

.contact__privacy {
  margin-top: rem(31);
  line-height: 1;
  @include mq('md') {
    margin-top: rem(36);
  }
}

.contact__btn {
  margin-top: rem(35);
  text-align: center;
  @include mq('md') {
    margin-top: rem(40);
    text-align: left;
  }
}

.contact__message {
  padding-top: rem(60);
  padding-bottom: rem(60);
}




