// テキストエリア共通パーツ

@use 'global' as *;

.form-textarea {
  font: inherit;
  color: inherit;
  border: 1px solid #707070;
  background-color: $white;
  width: 100%;
  height: rem(160);
}

.form-textarea:hover {
  border: 1px solid #4973FF;
  box-shadow: 0 0 8px rgba(#4973FF80, 1);
}

.form-textarea:focus {
  outline: none;
  border: 1px solid #4973FF;
  box-shadow: 0 0 8px rgba(#4973FF80, 1);
}