// テキストボックス共通パーツ

@use 'global' as *;

.form-checkbox {
  //box-sizing: border-box;
}

.form-checkbox__input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.form-checkbox__text {
  position: relative;
  //display: block;
  padding-left: rem(38);
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1;
  @include mq('md') {
    font-size: rem(18);
    padding-left: rem(40);
  }
}

.form-checkbox__text::before,
.form-checkbox__text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.form-checkbox__text::before {
  width: rem(18);
  height: rem(18);
  border: 1px solid #707070;
  @include mq('md') {
    width: rem(20);
    height: rem(20);
  }
}

.form-checkbox__input:checked + .form-checkbox__text::after {
  //opacity: 1;
  top: rem(6);
  left: rem(1.5);
  display: block;
  width: rem(15);
  height: rem(7);
  border-left: 2px solid $blue;
  border-bottom: 2px solid $blue;
  //border-color: $blue;
  transform: rotate(-45deg);
}

.form-checkbox__input:focus + .form-checkbox__text::before {
  outline: none;
  border: 1px solid #4973FF;
  box-shadow: 0 0 8px rgba(#4973FF80, 1);
} 