// Contactフォームの共通パーツ

@use 'global' as *;

.form-text {
  padding-bottom: rem(5);
  width: 100%;
  font-size: rem(14);
  font-weight: $medium;
  border-bottom: 1px solid $black;
  opacity: 0.5;
}

.form-text:hover {
  border-bottom: 1px solid #4973FF;
  box-shadow: 0 5px 4px -4px rgba(#4973FF80, 1);
}

.form-text:focus {
  outline: none;
  border-bottom: 1px solid #4973FF;
  box-shadow: 0 5px 4px -4px rgba(#4973FF80, 1);
}