// テキストボックス共通パーツ

@use 'global' as *;

.form-checkbox {
  //box-sizing: border-box;
}

.form-checkbox__input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.form-checkbox__input:checked + .form-checkbox__text::after {
  opacity: 1;
}

.form-checkbox__text {
  position: relative;
  width: 100%;
  padding-left: rem(38);
  font-size: rem(16);
  font-weight: $bold;
  line-height: calc(24 / 16);
  background: url(../images/common/checkbox.png) no-repeat center center / contain;
}

.form-checkbox__text::before,
.form-checkbox__text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.form-checkbox__text::before {
  // width: rem(18);
  // height: rem(18);
  width: 18px;
  height: 18px;
  border: 1px solid #707070;
}

.form-checkbox__text::after {
  // width: rem(15.05);
  // height: rem(11.31);
  width: 17.05px;
  height: 13.31px;
  left: rem(0.5);
  margin-top: rem(1);
  background: url(../images/common/checkbox.png) no-repeat center center / contain;
  opacity: 0;
}