// テキストボックス共通パーツ

@use 'global' as *;

.form-checkbox {
  box-sizing: border-box;
}

.form-checkbox__input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.form-checkbox__input:checked + .form-checkbox__text::after {
  opacity: 1;
}

.form-checkbox__text {
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  font-weight: 700;
}

.form-checkbox__text::before,
.form-checkbox__text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.form-checkbox__text::before {
  width: 20px;
  height: 20px;
  border-radius: 1px;
  border: 1px solid #111;
}

.form-checkbox__text::after {
  width: 23px;
  height: 17.53px;
  left: -1px;
  margin-top: -1.2px;
  background: url(../img/check-icon.png) no-repeat center center/contain;
  opacity: 0;
}