@use 'global' as *;
.news {
  position: relative;
  padding: 0 rem(16) rem(60) rem(16);
  @include mq('md') {
    padding: rem(120) rem(40);
  }
}

.news__inner {
  z-index: 100;
  //margin-top: rem(-60);
  padding: rem(40) 0;
  background-color: $white;
  box-shadow: 0 5px 12px rgba(#3E3E3E33, 1);
  position: relative;
  @include mq('md') {
    padding-left: rem(60);
    padding-right: rem(60);
    padding-top: rem(60);
  }
}

.news::after {
  // content: "";
  // position: absolute;
  // z-index: 98;
  // background-color: $gray;
}

.news__items {
  margin-top: rem(32);
  @include mq('md') {
    margin-top: rem(60);
  }
}

.news__item {
  border-bottom: 1px solid #CECDCD;
}

.news__item:hover {
  background-color: #4973FF1A;
}

.news__item + .news__item {
  //margin-top: rem(40);
  @include mq('md') {
    
  }
}

.news__item:first-child {
  border-top: 1px solid #CECDCD;
}

.news__btn {
  text-align: center;
  margin-top: rem(40);
}