@use 'global' as *;

.orange-btn {
  padding: rem(16) rem(32);
  background-color: $yellow;
  display: inline-block;
  line-height: 1;
  font-size: rem(16);
  font-weight: $bold;
  border-radius: 10px;
  color: $white;
  transition: all 0.3s ease 0s;
  box-shadow: 0 3px 5px rgba(#3E3E3E33, 1);
  @include mq('md') {
    font-size: rem(18);
    letter-spacing: 0.00045em;
    padding-left: rem(50);
    padding-right: rem(50);
  }
}

.orange-btn:hover {
  background-color: #F18900;
  transition: all 0.3s ease 0s;
}

.orange-btn--contact {
  letter-spacing: 0.4px;
  padding: rem(16) rem(50);
  background-color: #B2B2B2;
  pointer-events: none;
}

.orange-btn--contact--active {
  background-color: $yellow;
  pointer-events: all;
}
