@use 'global' as *;

.pc-nav {

}

.pc-nav__items {
  display: flex;
  gap: rem(40);
  align-items: center;
  justify-content: center;
  height: inherit;
}

.pc-nav__item,
.pc-nav__item a {
  height: inherit;
}

.pc-nav__item {
  
}

.pc-nav__item a {
  //下線なし
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  color: $black;
  font-size: rem(16);
  font-family: $english-family;
  letter-spacing: -0.025em;
  font-weight: $medium;
  line-height: 1;
  //padding-right: rem(12);
}

// .pc-nav__item:last-child a {
//   padding-right: 0;
// }

.pc-nav__item a::after{
  content: "";
  position: absolute;
  bottom: rem(23); //黒下線とheader名の間の余白
  left: rem(-4);
  width: calc(100% + rem(10));
  height: rem(1);
  background: transparent; //透明背景の棒
  transition: all 0.3s ease 0s;
}

//aタグが選択（is-active）されているとき、黒下線
.pc-nav__item a:hover::after {
  background: $black;
}