@use 'global' as *;

.price {
  background-color: $gray;
  padding-top: rem(40);
  padding-bottom: rem(120);
  position: relative;
  z-index: 99;
  @include mq('md') {
    padding-top: rem(120);
    padding-bottom: rem(268);
  }
}

.price__inner.inner {
  @include mq('md') {
    padding-left: rem(160);
    padding-right: rem(160);
  }
}

.price__items {
  margin-top: rem(40);
  @include mq('md') {
    margin-top: rem(60);
  }
}

.price__item {
  
}

.price__item:not(:first-child) {
  border-top: 0;
}

.price__note {
  font-size: rem(12);
  font-weight: $medium;
  line-height: 1;
  color: $black;
  margin-top: rem(8);
  @include mq('md') {
    margin-top: rem(12);
  }
}

