@use 'global' as *;

.price-content {
  display: flex;
  align-items: center;
  
  
  
  border: 1px solid #707070;
  width: 100%;

  @include mq('md') {
    font-size: rem(24);
  }
  // justify-content: center;
  // align-items: center; 
}

.price-content__title,
.price-content__yen {
  padding-top: rem(15);
  padding-bottom: rem(15);
  font-size: rem(20);
  line-height: calc(24 / 20);
  font-family: $english-family;
  font-weight: $semibold;
  @include mq('md') {
    font-size: rem(24);
    line-height: calc(29 / 24);
  }
}

.price-content__title {
  color: $white;
  background-color: $black;
  width: 29.154519%;
  text-align: center;
  flex-shrink: 0;
  
  @include mq('md') {
    width: 27.291667%;
  }
}

.price-content__yen {
  color: $black;
  background-color: $white;
  padding-left: rem(19);
  width: calc(100% - 29.154519%);
  flex-wrap: 1;
  @include mq('md') {
    padding-left: rem(40);
    width: calc(100% - 27.291667%);
  }
}