@use 'global' as *;

.qa-content {
  background-color: $white;
  border-radius: 4px;
  padding: rem(16);
}

.qa-content__question {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.qa-content__question::after {
  content: "";
  position: absolute;
  right: rem(1); 
  top: 50%; //上下中央
  transform: translateY(-50%); //上下中央
  transition: all 0.3s ease 0s;
  width: 15px; //アイコンの横幅
  height: 15px; //アイコンの縦幅
  background: transparent url(../images/common/plus.png) no-repeat center center / contain;
}

.qa-content__question.is-open {
  position: relative;
}

.qa-content__question.is-open::after {
  position: absolute;
  right: 0;  
  top: 50%; //上下中央
  transform: translateY(-50%) rotate(180deg); //上下中央に、90度回転
  transition: all 0.3s ease 0s;
  background: transparent url(../images/common/minus.png) no-repeat center center / contain;
  width: 15px; //アイコンの横幅
  height: 15px; //アイコンの縦幅
}

.qa-content__icon {
  font-size: rem(16);
  font-family: $english-family;
  font-weight: $semibold;
  color: $white;
  background-color: $blue;
  //padding: rem(0) rem(6) rem(3) rem(5);
  border-radius: 50%;
  width: rem(24);
  height: rem(24);
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-shrink: 0;
}

.qa-content__title {
  position: relative;
  margin-left: rem(16);
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1.45;
  letter-spacing: 0.4px;
  padding-right: rem(37);
  flex-grow: 1;
  @include mq('md') {
    line-height: calc(24 / 16);
  }
}

.qa-content__answer {
  display: none;
}

.qa-content__text {
  padding: rem(11) rem(16) rem(7) rem(12);
  background-color: #3B69FF33;
  border-radius: 4px;
  font-size: rem(14);
  font-weight: $medium;
  color: $black;
  line-height: calc(20 / 14);
  margin-top: rem(14);
  @include mq('md') {
    padding: rem(16);
    font-size: rem(16);
    line-height: calc(24 / 16);
  }
}