@use 'global' as *; 

.results {
  
  
  @include mq('md') {
    background-color: $gray;
    padding-left: rem(40);
  }
}

.results__inner.inner {
  padding: rem(40) 0;
  //padding: rem(40) 0 rem(40) rem(16);
  background-color: $black;
  @include mq('md') {
    padding: rem(60) 0 rem(60) rem(60);
  }
}

.results__content {
  
}

.results__items {
  margin-top: rem(40);
  padding-left: rem(16);
  position: relative;
  @include mq('md') {
    margin-top: rem(60);
  }
}

.swiper-slide.results__item {
  //margin-right: rem(20);
}

.results__btn {
  text-align: center;
  margin-top: rem(68);
  @include mq('md') {
    text-align: left;
    margin-top: rem(100);
  }
}