@use 'global' as *; 

.results {
  background-color: $black;
  padding: rem(40) 0;
}

.results__inner.inner {
  padding-right: 0;
}

.results__content {
  
}

.results__items {
  margin-top: rem(40);
  position: relative;
}

.swiper-slide.results__item {
  margin-right: rem(20);
}

.results__btn {
  text-align: center;
  margin-top: rem(68);
}